.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 760px;
  margin: 0 auto;
}

.todolist {
  margin: 0 auto;
  width: 500px;;
}
